<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>夏の家</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <!-- Vueアプリのマウント先 -->
  <main id="stage">

    <!-- STAGE1　ここから -->
    <div id="sectionStage1" class="stage">

      <!-- STAGE1問題セクション　ここから -->
      <section class="section">
        <div class="container">
          <h2 class="section-title section-title--keycolorlight">
            <span class="section-title__stage">STAGE：1</span>
            部屋から出るための扉には鍵がかかっている！<br>
            　　鍵には3つにアルファベットが入るみたいだ<br>
            部屋の中から当てはまる３つのアルファベットを見つけ出せ
          </h2>
          <p class="text-center"><br></p>
          <p class="text-center">各ヒントを効率的に利用して謎を解き明かそう。</p>
          <div class="container">
            <figure class="image__container">
              <img src="assets/images/ikshe01.png" alt="">
            </figure>
          </div>
        </div>
      </section>
      <!-- STAGE1問題セクション　ここまで -->

      <!-- STAGE1解答入力セクション　ここから -->
      <section class="section bg-color--keycolor" v-if="!clear['stage1']">
        <div class="container">
          <h2 class="section-title">
            <span class="section-title__stage">STAGE：1</span>
          </h2>
          <!-- 解答入力欄のコンポーネント -->
          <answer-input 
            v-bind:correct="correctAnswer['stage1']['q1']" 
            v-on:answer-input="answerInput($event, 'stage1', 1)">
          </answer-input>

          <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
        </div>
      </section>
      <!-- STAGE1解答入力セクション　ここまで -->

      <!-- STAGE1クリア画面　ここから -->
      <section 
        v-if="clear['stage1']" 
        v-bind:class="{isClear:clear['stage1']}"  
        class="section section--clear bg-color--gray">
        <div class="container">
          <div class="clear-message">
            <div class="clear-message__title">STAGE：1 CLEAR!</div>
            <div class="clear-message__content"><br>パスワードを見つけて、ドアのロックを解除した！<br></div>
            <div class="container">
              <a class="btn" href="main2.html">
                ドアの奥へ進む。
                <svg class="btn__arrow"><use xlink:href="#arrow"></use></svg>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- STAGE1クリア画面　ここまで -->

    </div>
    <!-- STAGE1　ここまで -->

  </main>

  <footer class="footer section bg-color--gray">
    <div class="container">
      <p class="text-center">2025年度2Q プログラミング基礎</p>
    </div>
  </footer>

  <!-- Vue.js CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- メインJS -->
  <script src="assets/js/main.js"></script>
</body>
</html>



